In [68]:
import numpy as np
import pandas as pd
killers = pd.read_csv("..\\data\\cleaned\\clean_totalvict.csv",index_col=0) #killer data
popdens = pd.read_csv("..\\data\\cleaned\\cleanpopdens.csv",index_col=0) #population density
povrate = pd.read_csv('..\\data\\cleaned\\cleancountrypovrate.csv',index_col=0) #poverty rate

In [69]:
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 355)
pd.set_option('display.max_colwidth', 200)

In [70]:
povrate.rename(columns={'country name':'country'},inplace=True)

In [71]:
povrate.head()

  code  mean value         country
0  AUS    0.125000       Australia
1  AUT    0.096667         Austria
2  BEL    0.078667         Belgium
3  CAN    0.106333          Canada
4  CZE    0.056667  Czech Republic

In [72]:
povrate['country']=[pov.strip() for pov in povrate['country']]

In [74]:
#merged killers df with poverty rate df
kill_povrate=killers.merge(povrate, how='left')

In [75]:
kill_povrate['mean value'].isnull().value_counts() #quite a few nans for poverty rate

mean value
False    205
True     150
Name: count, dtype: int64

In [76]:
#remove "code" column
kill_povrate.drop(columns='code', inplace=True)

In [48]:
# kill_povrate.head()

In [77]:
popdens.head()

          country  density
0     Afghanistan   46.800
1         Albania  101.230
2         Algeria   16.460
3  American Samoa  275.830
4         Andorra  168.550

In [80]:
# sorted(list(popdens['country'].unique()))

In [81]:
popdens['country']=[dens.strip() for dens in popdens['country']]

In [82]:
#merged killers_povrate df with pop density df
dfkillers=kill_povrate.merge(popdens, how='left')
dfkillers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355 entries, 0 to 354
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              355 non-null    object
 1   country           355 non-null    object
 2   years active      355 non-null    object
 3   proven victims    355 non-null    object
 4   possible victims  284 non-null    object
 5   notes             355 non-null    object
 6   mean value        205 non-null    float64
 7   density           315 non-null    object
dtypes: float64(1), object(7)
memory usage: 22.3+ KB

In [79]:
#let's add the value manually since the dictionary automation didn't work in this case 
popdens[popdens['country']=='Russian Federation']

                country density
157  Russian Federation   8.760

In [84]:
dfkillers[dfkillers['country']=='Russia']

Empty DataFrame
Columns: [name, country, years active, proven victims, possible victims, notes, mean value, density]
Index: []

In [85]:
dfkillers.loc[dfkillers['country'] == 'Russia', 'density'] = 8760

In [86]:
dfkillers.rename(columns={'mean value':'pov rate'},inplace=True)

In [87]:
dfkillers.head()

,name,country,years active,proven victims,possible victims,notes,pov rate,density
0,Luis Garavito,Colombia,1992 to 1999,138,172–300+,"Child-murderer, torture-killer, and rapist known as ""La Bestia"" (""The Beast""). Confessed to killing 140 boys between eight and 16 years old over a seven-year period in Colombia and neighboring cou...",NaN,43.550
1,Luis Garavito,Ecuador,1992 to 1999,138,172–300+,"Child-murderer, torture-killer, and rapist known as ""La Bestia"" (""The Beast""). Confessed to killing 140 boys between eight and 16 years old over a seven-year period in Colombia and neighboring cou...",NaN,63.370
2,Luis Garavito,Venezuela,1992 to 1999,138,172–300+,"Child-murderer, torture-killer, and rapist known as ""La Bestia"" (""The Beast""). Confessed to killing 140 boys between eight and 16 years old over a seven-year period in Colombia and neighboring cou...",NaN,NaN
3,Pedro López,Colombia,1969 to 1979,110,300+,"Child-murderer and rapist, known as ""The Monster of the Andes"". Targeted young girls, between the ages of eight and 12. Arrested in 1980 and convicted in 1983 of killing three young girls, but cla...",NaN,43.550
4,Pedro López,Peru,1969 to 1979,110,300+,"Child-murderer and rapist, known as ""The Monster of the Andes"". Targeted young girls, between the ages of eight and 12. Arrested in 1980 and convicted in 1983 of killing three young girls, but cla...",NaN,23.730

In [88]:
dfkillers['country']=[country.strip() for country in dfkillers['country']]
# wrongcocode=[country.strip() for country in wrongcocode]
# wrongpopdens=[country.strip() for country in wrongpopdens]

In [90]:
dfkillers.to_csv("..\\data\\cleaned\\eda_df.csv")

In [91]:
len(dfkillers[(dfkillers['pov rate'].notnull())])

205

In [93]:
dfkillers['country'].unique()

array(['Colombia', 'Ecuador', 'Venezuela', 'Peru', 'Pakistan', 'Russia',
       'Brazil', 'India', 'China', 'United States', 'Italy', 'Ukraine',
       'Canada', 'Indonesia', 'South Africa', 'Morocco', 'Romania',
       'Serbia', 'Hungary', 'Iran', 'Iraq', 'Mexico', 'Egypt', 'Germany',
       'Swaziland', 'Greece', 'United Kingdom', 'France', 'Switzerland',
       'Tajikistan', 'South Korea', 'Afghanistan', 'Costa Rica', 'Latvia',
       'Turkey', 'Belgium', 'Spain', 'Argentina', 'Poland', 'Chile',
       'Tunisia', 'Thailand', 'Nepal', 'Malaysia', 'Yemen', 'Japan',
       'Australia', 'Austria', 'Czech Republic', 'Bangladesh', 'Denmark',
       'Cyprus', 'Belarus', 'Angola', 'Singapore', 'Ireland',
       'Netherlands'], dtype=object)

In [99]:
len(dfkillers[(dfkillers['density'].notnull()) & (dfkillers['pov rate'].notnull())])
#201 killers with both data
#pov rate: 205 values, 150 nan
#density: 342 values, 13 nan

201

In [94]:
notnullkillers=dfkillers[(dfkillers['density'].notnull()) & (dfkillers['pov rate'].notnull())]
notnullkillers.to_csv("..\\data\\cleaned\\notnull_df.csv")