In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv("..\\data\\cleaned\\eda_df.csv",index_col=0)
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 355)
pd.set_option('display.max_colwidth', 200)

In [2]:
df['country'][(df['density'].isnull()) & (df['pov rate'].isnull())].unique()

#no actual demographical data on these countries

array(['Venezuela', 'Iran', 'Egypt', 'Yemen'], dtype=object)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 355 entries, 0 to 354
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              355 non-null    object
 1   country           355 non-null    object
 2   years active      355 non-null    object
 3   proven victims    355 non-null    object
 4   possible victims  284 non-null    object
 5   notes             355 non-null    object
 6   pov rate          205 non-null    float64
 7   density           342 non-null    object
dtypes: float64(1), object(7)
memory usage: 25.0+ KB

### Change df str columns to int/float

In [4]:
df.columns

Index(['name', 'country', 'years active', 'proven victims', 'possible victims',
       'notes', 'pov rate', 'density'],
      dtype='object')

In [5]:
df[df['proven victims'].str.contains('–')]#.str.split('–')

,name,country,years active,proven victims,possible victims,notes,pov rate,density
187,Herb Baumeister,United States,1990 to 1996,11–16,25+,Strangled gay men and buried their bodies in his backyard in Indiana and Ohio; 11 men were found in the yard but only five were identified. Committed suicide by shooting himself when faced with ar...,0.169000,34.560
239,Volker Eckert,Germany,1974 to 2006,9–13,19+,"German trucker who confessed to having abducted, tortured and killed five prostitutes through his route in Western Europe, plus strangling a 14-year-old girl in his native West Germany in 1974, wh...",0.103500,231.310
240,Volker Eckert,Germany,1974 to 2006,9–13,19+,"German trucker who confessed to having abducted, tortured and killed five prostitutes through his route in Western Europe, plus strangling a 14-year-old girl in his native West Germany in 1974, wh...",0.103500,231.310
241,Volker Eckert,France,1974 to 2006,9–13,19+,"German trucker who confessed to having abducted, tortured and killed five prostitutes through his route in Western Europe, plus strangling a 14-year-old girl in his native West Germany in 1974, wh...",0.084500,120.590
242,Volker Eckert,Spain,1974 to 2006,9–13,19+,"German trucker who confessed to having abducted, tortured and killed five prostitutes through his route in Western Europe, plus strangling a 14-year-old girl in his native West Germany in 1974, wh...",0.147667,93.520
243,Volker Eckert,Czech Republic,1974 to 2006,9–13,19+,"German trucker who confessed to having abducted, tortured and killed five prostitutes through his route in Western Europe, plus strangling a 14-year-old girl in his native West Germany in 1974, wh...",0.056667,136.240
244,Volker Eckert,Italy,1974 to 2006,9–13,19+,"German trucker who confessed to having abducted, tortured and killed five prostitutes through his route in Western Europe, plus strangling a 14-year-old girl in his native West Germany in 1974, wh...",0.137667,203.410
263,Joseph Paul Franklin,United States,1977 to 1980,8–15,20,White supremacist shooter who confessed to 20 murders and several attempted murders. Executed by lethal injection in 2013.,0.169000,34.560
264,Yoshio Kodaira,China,1928? to 1946,8–11+,Unknown,"A serial rapist, Kodaira killed his father-in-law in 1932 and eight to 10 women in Japan between 1945 and 1946, engaging in necrophilia after the fifth murder. Previously (1920s) he had been deplo...",NaN,144.580
265,Yoshio Kodaira,Japan,1928? to 1946,8–11+,Unknown,"A serial rapist, Kodaira killed his father-in-law in 1932 and eight to 10 women in Japan between 1945 and 1946, engaging in necrophilia after the fifth murder. Previously (1920s) he had been deplo...",0.157000,349.290

In [6]:
df['proven victims']=df['proven victims'].str.split('–').str[0] #keep just the first element of the range of victims

In [7]:
df['density']=df['density'].str.replace(",","") #remove "," from density to convert to float

In [8]:
df['proven victims']=df['proven victims'].astype(int)
df['pov rate']=df['pov rate'].astype(float)
df['density']=df['density'].astype(float)

In [1]:
# df.to_csv("..\\data\\cleaned\\eda_dft.csv")

In [2]:
# df.tail()

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 355 entries, 0 to 354
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              355 non-null    object
 1   country           355 non-null    object
 2   years active      355 non-null    object
 3   proven victims    355 non-null    int32
 4   possible victims  284 non-null    object
 5   notes             355 non-null    object
 6   pov rate          205 non-null    float64
 7   density           342 non-null    float64
dtypes: float64(2), int32(1), object(5)
memory usage: 23.6+ KB