In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv("..\\data\\cleaned\\eda_dft.csv",index_col=0)
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 355)
pd.set_option('display.max_colwidth', 300)

In [84]:
df.tail()

,name,country,years active,proven victims,possible victims,notes,pov rate,density
350,Leonarda Cianciulli,Italy,1939 to 1940,3,-,"Murdered three women in the town of Correggio, Reggio Emilia, and turned their bodies into soap and cakes.",0.137667,203.41
351,Özkan Zengin,Turkey,2008,3,4,Slit the throats of three confirmed victims before dumping the bodies in wells. Reportedly confessed to an additional murder.,0.147000,97.36
352,Albert Fish,United States,1924 to 1932,3,9-100+,American serial killer and child rapist who confessed to three murders for which he was convicted and sentenced to death.,0.169000,34.56
353,Heriberto Seda,United States,1990 to 1996,3,8+,"Considered to be a copycat of the Zodiac Killer. Claimed to have killed people based on their zodiac signs, and only killed when certain star formations were out.",0.169000,34.56
354,John Martin,United Kingdom,1995,3,3+,"(Birth name John Martin Scripps, alias Simon James Davis) While on the run after escaping Britain, Martin killed at least three tourists between 8 and 14 March 1995 and robbed them of their possessions and money: one in Singapore and two in Thailand. He also dismembered their bodies and dumped t...",0.117667,264.94

#### Hipótesis que comprobar:

2. Clases socioeconómicas bajas
```
groupby(proven victs)[pov rate]
pov rate.mean()
[[victims,country]][pov rate] > mean
#sort_values(pov rate)
```

In [37]:
df['country'][df['pov rate'].idxmax()] #costa rica tiene el mayor poverty rate (de los q hay info)

'Costa Rica'

In [36]:
df['country'][df['pov rate'].idxmin()] #Rep Checa tiene el menor poverty rate (de los q hay info)

'Czech Republic'

In [139]:
df['country'][df['pov rate']>df['pov rate'].median()].unique()
#países con un pov rate por encima de la media del dataset

array(['United States', 'Romania', 'Costa Rica'], dtype=object)

In [140]:
df['country'][df['pov rate']<df['pov rate'].mean()].unique()
#países con un pov rate inferior a la media del dataset

array(['Italy', 'Canada', 'Hungary', 'Mexico', 'Germany', 'Greece',
       'United Kingdom', 'France', 'Switzerland', 'South Korea', 'Turkey',
       'Belgium', 'Spain', 'Poland', 'Japan', 'Australia', 'Austria',
       'Czech Republic', 'Denmark', 'Ireland', 'Netherlands'],
      dtype=object)

In [43]:
# df['pov rate'].agg(['mean','max','min']).reset_index()

In [116]:
#pov rate and country based on number of victims
df.groupby('proven victims')[['pov rate','country']].agg({'pov rate':['mean','max','min'],'country': 'first'}).reset_index().sort_values(by=('proven victims'),ascending=False)

   proven victims  pov rate                             country
                       mean       max       min           first
50            138       NaN       NaN       NaN        Colombia
49            110       NaN       NaN       NaN        Colombia
48            100       NaN       NaN       NaN        Pakistan
47             83       NaN       NaN       NaN          Russia
46             72       NaN       NaN       NaN        Colombia
45             71       NaN       NaN       NaN          Brazil
44             70       NaN       NaN       NaN           India
43             67       NaN       NaN       NaN           China
42             60  0.169000  0.169000  0.169000   United States
41             58  0.137667  0.137667  0.137667           Italy
40             53       NaN       NaN       NaN         Ukraine
39             52       NaN       NaN       NaN         Ukraine
38             50       NaN       NaN       NaN         Ukraine
37             49  0.137667  0.169000  0.106333          Canada
36             48       NaN       NaN       NaN          Russia
35             45       NaN       NaN       NaN           China
34             42       NaN       NaN       NaN       Indonesia
33             41       NaN       NaN       NaN           India
32             39       NaN       NaN       NaN          Brazil
31             38       NaN       NaN       NaN    South Africa
30             36       NaN       NaN       NaN         Ukraine
29             35  0.149917  0.173000  0.088667         Romania
28             33  0.165750  0.169000  0.162500   United States
27             32       NaN       NaN       NaN           Egypt
26             30  0.103500  0.103500  0.103500         Germany
25             28       NaN       NaN       NaN       Swaziland
24             27  0.122000  0.122000  0.122000    South Africa
23             26  0.117667  0.117667  0.117667  United Kingdom
22             25  0.169000  0.169000  0.169000           India
21             24  0.096083  0.103500  0.088667         Germany
20             23  0.114750  0.169000  0.084500          France
19             22  0.137667  0.169000  0.106333   United States
18             21  0.166900  0.173000  0.161000        Colombia
17             20       NaN       NaN       NaN     Afghanistan
16             19  0.179833  0.204000  0.166500          Russia
15             18  0.142375  0.169000  0.084500          Turkey
14             17  0.137667  0.137667  0.137667           China
13             16  0.144479  0.169000  0.078667   United States
12             15  0.162452  0.169000  0.137667     South Korea
11             14  0.143357  0.169000  0.094333   United States
10             13  0.163617  0.169000  0.117667   United States
9              12  0.152315  0.169000  0.103500         Germany
8              11  0.139667  0.169000  0.056667   United States
7              10  0.153000  0.169000  0.084500         Germany
6               9  0.132132  0.169000  0.056667         Germany
5               8  0.140625  0.169000  0.084500       Australia
4               7  0.139795  0.169000  0.084500         Ukraine
3               6  0.149667  0.204000  0.078667   United States
2               5  0.140125  0.169000  0.056667   United States
1               4  0.119891  0.169000  0.077333   United States
0               3  0.142899  0.169000  0.081250   United States

1. Países con alta densidad de población
```
sort_values(victims)

#(sort_values(density)
groupby(proven victs)[density]
groupby(country)
sort_values[proven victs])
popdens.mean()
[[victims,country]][popdens]>mean
```

In [2]:
#higher density countries vs victims
df[df['density']> df['density'].mean()].sort_values(by='proven victims',ascending=False)

,name,country,years active,proven victims,possible victims,notes,pov rate,density
6,Javed Iqbal,Pakistan,1998 to 1999,100,100,"Child-murderer and rapist, known as ""Kukri"", Iqbal murdered 100 street children by strangling them and covering up his crimes by dissolving the bodies with acid. He was arrested in 1999 thanks to a letter he sent to a newspaper, and was set to be executed in the manner described by the judge who...",NaN,236.28
12,Kampatimar Shankariya,India,1977 to 1978,70,70+,"Indian serial killer who used a hammer to kill over 70 men and women between 1978 and 1979. Was hanged in 1979, his last words were, ""I have murdered in vain"", he declared. ""Nobody should become like me."".",NaN,421.14
13,Yang Xinhai,China,2000 to 2003,67,67,"Known as the ""Monster Killer"". Would enter victims' homes at night and kill using axes, meat cleavers, hammers, and shovels. Executed by gunshot in 2004.",NaN,144.58
15,Giuseppe Greco,Italy,1981 to 1983,58,80-300,"During the Second Mafia War, from 1981 to 1983 committed dozens of murders, often with his favorite weapon, an AK-47. He was eventually convicted in absentia of 58 murders, but it is believed that he committed at least 80 murders and possibly as many as 300. Murdered in his home in 1985.",0.137667,203.41
24,Wang Qiang,China,1995 to 2003,45,60+,Killed 45 and raped 10 from 1995 to 2003. Executed by firing squad in 2005.,NaN,144.58
26,Raman Raghav,India,1965 to 1968,41,41,"In the late 1960s Raman Raghav went on a violent rampage in Mumbai, India. He bludgeoned 41 people to death inside their huts while they slept. Died of kidney failure in 1995.",NaN,421.14
46,Karl Denke,Germany,1900 to 1924,30,42+,"Killed and cannibalized poor travelers and homeless vagrants. Kept a ledger recording his murders with at least 31 names in it (including Vincenz Olivier, his only surviving victim), thus confirming at least 30 victims. But due to the massive amount of human remains found in his apartment, his k...",0.103500,231.31
50,Zhang Jun,China,1993 to 2000,28,28,"Robbed 22 stores in several Chinese provinces, killing 28 people in the process. Executed in 2001.",NaN,144.58
53,Bruce George Peter Lee,United Kingdom,1973 to 1979,26,26,"Epileptic arsonist who killed people in the city of Hull; sentenced to life imprisonment, but was later institutionalized.",0.117667,264.94
54,The Stoneman,India,1985 to 1989,25,25+,"12 homeless people were murdered in their sleep in Bombay between 1985 and 1987, and 13 in Calcutta in 1989—in all cases, by dropping a large rock over their head (an additional victim escaped, but could not identify the attacker). No one was ever charged with any of the murders.",NaN,421.14
56,Fritz Haarmann,Germany,1918 to 1924,24,27+,"Also known as the Butcher of Hanover and the Vampire of Hanover, because of his preferred method of killing by biting through his victim's throat, sometimes while sodomizing them. He would then dump the bodies in the nearby river Leine. Believed to have been responsible for the murder of 27 boys...",0.103500,231.31
60,Yvan Keller,Germany,1989 to 2006,23,150,"Known as the ""Pillow Killer""; killed and robbed old women in France's Alsace region, but also confessed to up to 150 murders, including in Germany and Switzerland; committed suicide before trial.",0.103500,231.31
61,Yvan Keller,Switzerland,1989 to 2006,23,150,"Known as the ""Pillow Killer""; killed and robbed old women in France's Alsace region, but also confessed to up to 150 murders, including in Germany and Switzerland; committed suicide before trial.",0.102000,204.51
78,Mohan Kumar,India,2005 to 2009,20,20,"Lured female victims with promises of marriage and gave them cyanide, claiming they were contraceptive pills, Sentenced to death in 2013.",NaN,421.14
81,Surinder Koli,India,2005 to 2006,19,30+,"Between 2005 and 2006, a domestic servant of Indian businessman Moninder Singh Pandher, Surinder Koli, kidnapped, raped, murdered, and dismembered 19 people, mostly children. Convicted and sentenced to life.",NaN,421.14
86,M. Jaishankar,India,2008 to 2011,19,19+,"Accused of killing at least 19 women. Charged with 13 murders, he escaped during a trial transport. Killed eight more people in two months before he was recaptured. Sentenced to 27 years. Committed suicide by slashing his wrists with a shaving blade in prison on 27 February 2018.",NaN,421.14
94,Umesh Reddy,India,1996 to 2002,18,18+,Confessed to 18 rapes and murders. Sentenced to death.,NaN,421.14
101,Donato Bilancia,Italy,1997 to 1998,17,17,"Burglar who murdered 17 people, mainly prostitutes, between 1997 and 1998, during a six-month period. Known as the ""Prostitutes Killer"" and the ""Liguria Monster"". Sentenced to imprisonment for life.",0.137667,203.41
99,Darbara Singh,India,2004,17,23,Sexually assaulted and then murdered children of non-Punjabi immigrants; died in 2018 from an illness while serving a life sentence.,NaN,421.14
97,Huang Yong,China,2001 to 2003,17,25,"Lured and murdered 17 teenage boys, although he is suspected of 25 murders between September 2001 and 2003. Executed by firing squad in 2003.",NaN,144.58
106,Michel Fourniret,Belgium,1987 to 2001,16,19,Known as the Ogre or Beast of Ardennes. He was caught after a failed kidnapping in 2003. Sentenced to life and died of respiratory problems while in prison in 2021.,0.078667,369.72
121,Ravinder Kumar,India,2008 to 2015,15,30+,Serial rapist who killed children of poor families.,NaN,421.14
129,Bai Baoshan,China,1983 to 1997,15,15,Robber who killed 15 people while robbing several police stations; executed by gunshot in 1998.,NaN,144.58
130,Maurizio Minghella,Italy,1978 to 2001,15,15,"Killed five prostitutes; imprisoned and released, after which he killed 10 more; sentenced to life imprisonment.",0.137667,203.41
134,Zdzisław Marchwicki,Poland,1964 to 1970,14,21+,"Also known as Vampire of Zagłębie. Killed 14 women in 1964–1970 in Poland's region of Dąbrowa Basin. Zdzisław Marchwicki was most likely the man responsible for the killings; however, his guilt remains in dispute. Executed in 1977.",0.094333,125.83
135,Monster of Florence,Italy,1968 to 1985,14,16,"Unidentified killer who shot couples in lovers lanes and mutilated the women, taking their sexual organs and in the last two cases, also their left breast. 69-year-old farmer Pietro Pacciani was controversially convicted of 14 crimes in 1994 and sentenced to life in prison, but he was released f...",0.137667,203.41
136,Joachim Kroll,Germany,1955 to 1976,14,NaN,"Known as the ""Ruhr Cannibal"" and ""The Duisburg Man-Eater""; died from a heart attack in prison in 1991.",0.103500,231.31
144,Amir Qayyum,Pakistan,2005,14,NaN,"Known as ""The brick killer"". Killed 14 homeless men with rocks or bricks when they were asleep. Sentenced to death in May 2006.",NaN,236.28
151,Peter Sutcliffe,United Kingdom,1975 to 1980,13,15,"Killed 13 women between 30 October 1975, and 17 November 1980. Most victims were killed by a combination of bludgeoning and stabbing, and all but two were killed in the county of Yorkshire. Owing to the modus operandi and location of the murders, Sutcliffe became known as the ""Yorkshire Ripper.""...",0.117667,264.94
169,Adolf Seefeldt,Germany,1908 to 1935,12,100,"Known as the ""Sandman""; sexually abused young boys in their sleep, then poisoned them; suspected of 100 murders in total. Executed by guillotine in 1936.",0.103500,231.31
175,Dennis Nilsen,United Kingdom,1978 to 1983,12,15–16,"Picked up young men in London between 1978 and 1983 and dismembered them, keeping various body parts around his home. Died from surgical complications in 2018.",0.117667,264.94
177,Charles Sobhraj,Thailand,1975 to 1976,12,13,"French con man known as ""The Bikini Killer"" or ""The Serpent"" that targeted Western tourists in vacation spots of South-east Asia, often with the help of female accomplices. Imprisoned in India from 1976 to 1997, and from 2004 serving a life sentence in Nepal.",NaN,131.16
178,Charles Sobhraj,Nepal,1975 to 1976,12,13,"French con man known as ""The Bikini Killer"" or ""The Serpent"" that targeted Western tourists in vacation spots of South-east Asia, often with the help of female accomplices. Imprisoned in India from 1976 to 1997, and from 2004 serving a life sentence in Nepal.",NaN,193.91
179,Charles Sobhraj,India,1975 to 1976,12,13,"French con man known as ""The Bikini Killer"" or ""The Serpent"" that targeted Western tourists in vacation spots of South-east Asia, often with the help of female accomplices. Imprisoned in India from 1976 to 1997, and from 2004 serving a life sentence in Nepal.",NaN,421.14
185,"""Paraquat murders"" killer",Japan,1985,12,NaN,Unidentified serial killer who carried out a series of indiscriminate poisonings in Japan in 1985 that killed 12.,0.157000,349.29
210,Roshu Kha,Bangladesh,2008,11,NaN,Raped and murdered garment workers after being rejected by his lover. Sentenced to death.,NaN,1203.00
211,Gao Chengyong,China,1998 to 2002,11,NaN,"Known as ""Chinese Jack the Ripper""; killed women and then mutilated their corpses. Executed in 2019.",NaN,144.58
212,Marie Alexandrine Becker,Belgium,1933 to 1936,11,NaN,Poisoned wealthy clients while working as a seamstress. Died in prison in 1942.,0.078667,369.72
207,Seisaku Nakamura,Japan,1938 to 1942,11,NaN,"Teenage serial killer known as the ""Hamamatsu Deaf Killer"" for having been born deaf. Murdered 11 people (including his brother) and attacked many others, among them his father, sister, brother-in-law and nephew. Tried as an adult and executed by hanging.",0.157000,349.29
192,Zhang Yongming,China,2008 to 2012,11,17–20,Sold flesh of his victims as 'ostrich meat' and kept eyeballs in wine. Executed.,NaN,144.58
195,Jack Unterweger,Czech Republic,1974 to 1992,11,15,"Served 14 years in Austrian prison because of a murder in 1974; killed at least nine prostitutes after his release. Was a small media star in Austrian media in the early 1990s and, on behalf of Austrian police, was arrested in the US, where he may have killed another three prostitutes. Hanged hi...",0.056667,136.24
215,Rudolf Pleil,Germany,1946 to 1947,10,25,"Known as Der Totmacher (""The Deadmaker""). Convicted of killing a salesman and nine women. Claimed to have killed 25. Committed suicide by hanging in 1958.",0.103500,231.31
232,Zhou Kehua,China,2004 to 2012,10,NaN,"A former soldier who targeted ATM users. He killed 10 people and evaded the law for eight years, before being shot in a shootout with police after a year-long manhunt.",NaN,144.58
231,Satish,India,1995 to 1998,10,NaN,"Killed 10 girls who were between the ages of five and nine. He was arrested from Bahadurgargh, Haryana after a long chase by Haryana police.",NaN,421.14
244,Volker Eckert,Italy,1974 to 2006,9,19+,"German trucker who confessed to having abducted, tortured and killed five prostitutes through his route in Western Europe, plus strangling a 14-year-old girl in his native West Germany in 1974, when he was 15. Police considered him perpetrator of nine murders (with four more being possible); he ...",0.137667,203.41
252,Dagmar Overbye,Denmark,1913 to 1920,9,15,"Murdered between nine and 25 children—of which one was her own—during a seven-year period. In 1921, she was sentenced to death in one of the most talked about trials in Danish history, that changed legislation on childcare. The sentence was later commuted to life in prison. Overbye was working a...",0.064500,132.31
247,Peter Kürten,Germany,1913 to 1930,9,79,"Charged with nine murders and seven attempted murders. Dubbed ""The Vampire of Düsseldorf"" by the contemporary media. Executed by guillotine in 1931.",0.103500,231.31
243,Volker Eckert,Czech Republic,1974 to 2006,9,19+,"German trucker who confessed to having abducted, tortured and killed five prostitutes through his route in Western Europe, plus strangling a 14-year-old girl in his native West Germany in 1974, when he was 15. Police considered him perpetrator of nine murders (with four more being possible); he ...",0.056667,136.24
240,Volker Eckert,Germany,1974 to 2006,9,19+,"German trucker who confessed to having abducted, tortured and killed five prostitutes through his route in Western Europe, plus strangling a 14-year-old girl in his native West Germany in 1974, when he was 15. Police considered him perpetrator of nine murders (with four more being possible); he ...",0.103500,231.31
239,Volker Eckert,Germany,1974 to 2006,9,19+,"German trucker who confessed to having abducted, tortured and killed five prostitutes through his route in Western Europe, plus strangling a 14-year-old girl in his native West Germany in 1974, when he was 15. Police considered him perpetrator of nine murders (with four more being possible); he ...",0.103500,231.31
246,Peter Kürten,Germany,1913 to 1930,9,79,"Charged with nine murders and seven attempted murders. Dubbed ""The Vampire of Düsseldorf"" by the contemporary media. Executed by guillotine in 1931.",0.103500,231.31
264,Yoshio Kodaira,China,1928? to 1946,8,Unknown,"A serial rapist, Kodaira killed his father-in-law in 1932 and eight to 10 women in Japan between 1945 and 1946, engaging in necrophilia after the fifth murder. Previously (1920s) he had been deployed to Northern China as a sailor in the Imperial Japanese Navy, where he was free to target the loc...",NaN,144.58
265,Yoshio Kodaira,Japan,1928? to 1946,8,Unknown,"A serial rapist, Kodaira killed his father-in-law in 1932 and eight to 10 women in Japan between 1945 and 1946, engaging in necrophilia after the fifth murder. Previously (1920s) he had been deployed to Northern China as a sailor in the Imperial Japanese Navy, where he was free to target the loc...",0.157000,349.29
268,Kiyotaka Katsuta,Japan,1982 to 1983,8,22,"Strangled or shot people to rob them, using a gun he had stolen from a policeman after running him over with his car. Hanged in 2000.",0.157000,349.29
279,Manuel Delgado Villegas,Italy,1964 to 1971,7,48,"Wandering criminal known as El Arropiero (""The Arrope Trader"") and El Estrangulador del Puerto (""The Strangler of Puerto""). Confessed to the impulsive murders of 48 people of different sex, age, wealth and sexual orientation in three countries (including his girlfriend, whom he strangled during ...",0.137667,203.41
280,Ershad Sikder,Bangladesh,1991 to 1999,7,43+,Career criminal and corrupt politician responsible for numerous torture murders in the 1990s; convincted on seven counts and executed 2004.,NaN,1203.00
284,Kenneth Erskine,United Kingdom,1986,7,11,"Known as ""The Stockwell Strangler"", he was a burglar who raped and strangled at least seven elderly women after breaking into their homes.",0.117667,264.94
298,Gong Runbo,China,2005 to 2006,6,20+,Found guilty of the murders of six children and teenagers aged between nine and 16 from 2005 to 2006; executed in 2007.,NaN,144.58
300,András Pándy,Belgium,1986 to 1990,6,14+,"Former clergyman nicknamed ""Father Bluebeard"", killed his two wives and four of his children with the help of a fifth he was having an incestuous affair with, and whom denounced him to the authorities seven years later. Sentenced to life imprisonment in 2002.",0.078667,369.72
297,Władysław Mazurkiewicz,Poland,1950s,6,30,"Known as ""The Gentleman Killer"". Indicted of, and confessed to having committed 30 murders; convicted of six and hanged in 1957.",0.094333,125.83
312,Michel Peiry,Switzerland,1981 to 1987,5,11,"Known as the ""Sadist of Romont""; Swiss soldier who sexually abused and murdered at least 5 hitchhikers in several countries; sentenced to life imprisonment.",0.102000,204.51
316,Michel Peiry,Italy,1981 to 1987,5,11,"Known as the ""Sadist of Romont""; Swiss soldier who sexually abused and murdered at least 5 hitchhikers in several countries; sentenced to life imprisonment.",0.137667,203.41
317,Hubert Pilčík,Czech Republic,1948 to 1951,5,10+,"Made money smuggling people across the Czechoslovakia-Germany border, but killed most of his customers. Total number of his victims is unknown.",0.056667,136.24
320,Sek Kim Wah,Singapore,30 June 1983 to 23 July 1983,5,-,"Sek Kim Wah, who was of Chinese Singaporean descent, was 19 years old when he killed five victims in two separate robbery cases, using raffia string to strangle them. Other methods employed were hitting their heads with a heavy object (like a wooden stool) and electrocution (which was unsuccessf...",NaN,7713.14
311,Steve Wright,United Kingdom,2006,5,5–22,"Referred to as ""Suffolk murders"", ""Ipswich murders"", ""Ipswich Ripper"", ""Suffolk Ripper"", ""Suffolk Strangler"", ""East Anglia Ripper"", ""Red Light Ripper"" and ""the Suffolkator"". Murdered five prostitutes, all of whom worked in Ipswich in 2006. There are possible links to previous East Anglia prostit...",0.117667,264.94
328,Ernesto Picchioni,Italy,1949 and earlier,4,16,Murdered people who approached his home; died of cardiac arrest in 1967.,0.137667,203.41
335,Robert Maudsley,United Kingdom,1974 to 1978,4,4,"Sentenced to life without parole in 1974 for murdering a man who had shown him pictures of young boys he had sexually abused. Subsequently, killed another child sex offender in Broadmoor high-security hospital and two more, including a child sex offender, in prison. Has been held in solitary con...",0.117667,264.94
332,Robert Hicks Murray,United Kingdom,1912 and earlier,4,11+,Bigamist who murdered his wife and three children in a murder-suicide; posthumously revealed to have killed previous wives as well.,0.117667,264.94
334,Stephen Port,United Kingdom,2014 to 2015,4,4+,"Nicknamed ""The Grindr Killer"", Port met his victims via online gay social networks. He used gamma-Hydroxybutyric acid (GHB), a date rape drug, adding it to drinks given to his victims, raped them, and murdered four of them in his flat in Barking, east London.",0.117667,264.94
325,Robert Black,Netherlands,1981 to 1986,4,18+,"Convicted of kidnapping, raping and murdering four girls aged between five and 11. Suspect in other earlier child murders in the UK and other European countries. Died weeks before he was to be charged with a fifth child murder.",0.081250,498.35
324,Robert Black,Germany,1981 to 1986,4,18+,"Convicted of kidnapping, raping and murdering four girls aged between five and 11. Suspect in other earlier child murders in the UK and other European countries. Died weeks before he was to be charged with a fifth child murder.",0.103500,231.31
322,Robert Black,United Kingdom,1981 to 1986,4,18+,"Convicted of kidnapping, raping and murdering four girls aged between five and 11. Suspect in other earlier child murders in the UK and other European countries. Died weeks before he was to be charged with a fifth child murder.",0.117667,264.94
339,Peter Tobin,United Kingdom,1991 to 2006,3,48,"Scottish rapist and serial killer known to have killed at least three young women. Also a suspect in the Bible John murders, committed in Glasgow during the late 1960s.",0.117667,264.94
343,Bernhard Prigan,Germany,1947 to 1952,3,16,Killed women near highways; confessed to a total of 16 murders.,0.103500,231.31
344,Bernhard Prigan,Germany,1947 to 1952,3,16,Killed women near highways; confessed to a total of 16 murders.,0.103500,231.31
345,Stephen Griffiths,United Kingdom,2009 to 2010,3,14,"Known to have killed three prostitutes, but claims to have killed 14 to beat ""Yorkshire Ripper"" Peter Sutcliffe. Dubbed himself the ""Crossbow Cannibal"" as he killed his victims with a hammer and crossbow and then later ate parts of them.",0.117667,264.94
346,Koos Hertogs,Netherlands,1979 to 1980,3,12,"Dutch serial killer convicted of abducting, torturing, raping and killing three girls. Suspected of killing a further three to nine girls and young women in the 1970s.",0.081250,498.35
347,Chisako Kakehi,Japan,2007 to 2013,3,10,"Poisoned her husband and two other men to death, but suspected in another seven deaths; sentenced to death.",0.157000,349.29

In [143]:
# df.groupby('proven victims')[['density', 'country']].agg({'density': ['mean', 'max', 'min'], 'country': 'first'}).sort_values(by='proven victims', ascending=False).reset_index()

> scatter plot p/ relacionar (con nº killerspercountry tb);
> ```
> sns.scatterplot(x='density', y='killers', data=df')
> sns.scatterplot(x='density', y='proven victims', data=df')
> ```

In [128]:
victimdensitycountry=df.groupby(['proven victims','country'])['density'].agg(['first']).round(2).sort_values(by='first', ascending=False).reset_index()
victimdensitycountry
# victimsdensity

     proven victims         country    first
0                 5       Singapore  7713.14
1                11      Bangladesh  1203.00
2                 7      Bangladesh  1203.00
3                 3     Netherlands   498.35
4                 4     Netherlands   498.35
5                19           India   421.14
6                10           India   421.14
7                20           India   421.14
8                41           India   421.14
9                18           India   421.14
10               70           India   421.14
11               25           India   421.14
12               17           India   421.14
13               15           India   421.14
14               12           India   421.14
15               16         Belgium   369.72
16                6         Belgium   369.72
17               11         Belgium   369.72
18                8           Japan   349.29
19               12           Japan   349.29
20               11           Japan   349.29
21                3           Japan   349.29
22                5  United Kingdom   264.94
23                4  United Kingdom   264.94
24               12  United Kingdom   264.94
25                3  United Kingdom   264.94
26               26  United Kingdom   264.94
27               13  United Kingdom   264.94
28                7  United Kingdom   264.94
29              100        Pakistan   236.28
30               14        Pakistan   236.28
31               10         Germany   231.31
32               23         Germany   231.31
33               30         Germany   231.31
34               24         Germany   231.31
35                3         Germany   231.31
36               12         Germany   231.31
37                4         Germany   231.31
38               14         Germany   231.31
39                9         Germany   231.31
40               23     Switzerland   204.51
41                5     Switzerland   204.51
42               14           Italy   203.41
43               58           Italy   203.41
44               15           Italy   203.41
45               17           Italy   203.41
46                4           Italy   203.41
47                9           Italy   203.41
48                3           Italy   203.41
49                5           Italy   203.41
50                7           Italy   203.41
51               12           Nepal   193.91
52               17           China   144.58
53               15           China   144.58
54               28           China   144.58
55               11           China   144.58
56               10           China   144.58
57                6           China   144.58
58               67           China   144.58
59                8           China   144.58
60               45           China   144.58
61               11  Czech Republic   136.24
62                9  Czech Republic   136.24
63                5  Czech Republic   136.24
64                9         Denmark   132.31
65               12        Thailand   131.16
66               14          Poland   125.83
67                6          Poland   125.83
68                4       Indonesia   124.00
69               11       Indonesia   124.00
70               42       Indonesia   124.00
71                7          Cyprus   123.50
72                7          France   120.59
73               23          France   120.59
74                5          France   120.59
75               18          France   120.59
76               11          France   120.59
77                4          France   120.59
78                9          France   120.59
79               16          France   120.59
80               10          France   120.59
81                8          France   120.59
82               35         Hungary   109.33
83               24         Hungary   109.33
84               11         Austria   102.83
85                4         Austria   102.83
86               10          Turkey    97.36
87               18          Turkey    97.36
88               11          Turkey    97.36
89                3          Turkey    97.36
90                6      Costa Rica    95.42
91               19      Costa Rica    95.42
92                9           Spain    93.52
93               12           Spain    93.52
94               16           Spain    93.52
95               11           Spain    93.52
96                7           Spain    93.52
97               12        Malaysia    90.45
98               35         Romania    86.79
99               21         Romania    86.79
100              27          Greece    85.59
101              35          Serbia    81.91
102               5          Serbia    81.91
103              14         Ukraine    78.52
104              33         Ukraine    78.52
105              17         Ukraine    78.52
106              16         Ukraine    78.52
107              15         Ukraine    78.52
108               4         Ukraine    78.52
109              36         Ukraine    78.52
110              13         Ukraine    78.52
111              12         Ukraine    78.52
112               7         Ukraine    78.52
113              11         Ukraine    78.52
114              22         Ukraine    78.52
115              10         Ukraine    78.52
116              52         Ukraine    78.52
117              19         Ukraine    78.52
118              53         Ukraine    78.52
119              50         Ukraine    78.52
120              33            Iraq    76.94
121              36         Morocco    73.96
122              28       Swaziland    72.65
123              13         Tunisia    70.07
124               4         Ireland    66.70
125              72         Ecuador    63.37
126             110         Ecuador    63.37
127              23         Ecuador    63.37
128             138         Ecuador    63.37
129              11          Mexico    62.93
130              15          Mexico    62.93
131               3          Mexico    62.93
132              33          Mexico    62.93
133              21          Mexico    62.93
134              22      Tajikistan    58.64
135              20     Afghanistan    46.80
136               6         Belarus    46.65
137              18    South Africa    43.68
138              27    South Africa    43.68
139               9    South Africa    43.68
140              20    South Africa    43.68
141              19    South Africa    43.68
142              38    South Africa    43.68
143              10    South Africa    43.68
144              13    South Africa    43.68
145              16    South Africa    43.68
146              15    South Africa    43.68
147              72        Colombia    43.55
148              30        Colombia    43.55
149             138        Colombia    43.55
150             110        Colombia    43.55
151              21        Colombia    43.55
152               6        Colombia    43.55
153               7        Colombia    43.55
154              33   United States    34.56
155               8   United States    34.56
156              35   United States    34.56
157               7   United States    34.56
158               3   United States    34.56
159               5   United States    34.56
160              60   United States    34.56
161              23   United States    34.56
162               9   United States    34.56
163              49   United States    34.56
164               6   United States    34.56
165              25   United States    34.56
166              10   United States    34.56
167               4   United States    34.56
168              15   United States    34.56
169              13   United States    34.56
170              12   United States    34.56
171              19   United States    34.56
172              21   United States    34.56
173              18   United States    34.56
174              11   United States    34.56
175              22   United States    34.56
176              14   United States    34.56
177              16   United States    34.56
178              13          Latvia    32.38
179              19          Latvia    32.38
180              71          Brazil    23.97
181              14          Brazil    23.97
182              72          Brazil    23.97
183              50          Brazil    23.97
184              13          Brazil    23.97
185              20          Brazil    23.97
186              11          Brazil    23.97
187              39          Brazil    23.97
188              30          Brazil    23.97
189              17            Peru    23.73
190             110            Peru    23.73
191              14           Chile    23.70
192               5          Angola    17.22
193              15       Argentina    15.14
194              11       Argentina    15.14
195              13       Argentina    15.14
196              14          Russia     9.00
197              83          Russia     9.00
198               8          Russia     9.00
199              17          Russia     9.00
200              11          Russia     9.00
201              16          Russia     9.00
202              10          Russia     9.00
203              13          Russia     9.00
204              12          Russia     9.00
205              22          Russia     9.00
206              48          Russia     9.00
207              32          Russia     9.00
208              19          Russia     9.00
209               7          Russia     9.00
210               9          Russia     9.00
211              22          Canada     3.87
212              49          Canada     3.87
213               7          Canada     3.87
214              11          Canada     3.87
215               8          Canada     3.87
216               6       Australia     3.01
217               7       Australia     3.01
218               8       Australia     3.01
219              11       Australia     3.01
220              10       Australia     3.01
221              10     South Korea      NaN
222              12           Yemen      NaN
223              14     South Korea      NaN
224              15     South Korea      NaN
225              15       Venezuela      NaN
226              16            Iran      NaN
227              21     South Korea      NaN
228              24            Iran      NaN
229              32           Egypt      NaN
230              33            Iran      NaN
231             138       Venezuela      NaN

In [82]:
# victimdensitycountry.to_csv("..\\utils\\victimdensitycountry.csv")

Repetimos este último df teniendo en cuenta el número de asesinos que hay en cada país:

In [ ]:
#pov rate and country based on number of victims
dfamount.groupby('proven victims')[['pov rate','country','amount']].agg({'pov rate':['mean','max','min'],'amount':['mean','max','min'],'country': 'first'}).reset_index().sort_values(by=('proven victims'),ascending=False)

In [120]:
dfamount.head()

,name,country,years active,proven victims,possible victims,notes,pov rate,density,amount
0,Luis Garavito,Colombia,1992 to 1999,138,172–300+,"Child-murderer, torture-killer, and rapist known as ""La Bestia"" (""The Beast""). Confessed to killing 140 boys between eight and 16 years old over a seven-year period in Colombia and neighboring countries. He is suspected of murdering over 300 victims, mostly street children. Garavito was original...",NaN,43.55,7
1,Luis Garavito,Ecuador,1992 to 1999,138,172–300+,"Child-murderer, torture-killer, and rapist known as ""La Bestia"" (""The Beast""). Confessed to killing 140 boys between eight and 16 years old over a seven-year period in Colombia and neighboring countries. He is suspected of murdering over 300 victims, mostly street children. Garavito was original...",NaN,63.37,4
2,Luis Garavito,Venezuela,1992 to 1999,138,172–300+,"Child-murderer, torture-killer, and rapist known as ""La Bestia"" (""The Beast""). Confessed to killing 140 boys between eight and 16 years old over a seven-year period in Colombia and neighboring countries. He is suspected of murdering over 300 victims, mostly street children. Garavito was original...",NaN,NaN,2
3,Pedro López,Colombia,1969 to 1979,110,300+,"Child-murderer and rapist, known as ""The Monster of the Andes"". Targeted young girls, between the ages of eight and 12. Arrested in 1980 and convicted in 1983 of killing three young girls, but claimed to have killed hundreds. Despite being believed to be one of the most prolific serial killers o...",NaN,43.55,7
4,Pedro López,Peru,1969 to 1979,110,300+,"Child-murderer and rapist, known as ""The Monster of the Andes"". Targeted young girls, between the ages of eight and 12. Arrested in 1980 and convicted in 1983 of killing three young girls, but claimed to have killed hundreds. Despite being believed to be one of the most prolific serial killers o...",NaN,23.73,2

In [131]:
dfamount['density'].median()

43.68

In [136]:
killerspercountrypovrdens=dfamount.groupby('country')[['density','pov rate','amount']].agg({'density':'first','pov rate':'first','amount':'first'}).round(2).sort_values(by='amount', ascending=False).reset_index()
killerspercountrypovrdens
#this shows the amount of killers per country related to its density and pov rate (and victims)

           country  density  pov rate  amount
0    United States    34.56      0.17      98
1           Russia     9.00       NaN      27
2          Ukraine    78.52       NaN      26
3     South Africa    43.68       NaN      19
4          Germany   231.31      0.10      13
5   United Kingdom   264.94      0.12      13
6           France   120.59      0.08      12
7            India   421.14       NaN      11
8            China   144.58       NaN      10
9            Italy   203.41      0.14       9
10          Brazil    23.97       NaN       9
11          Canada     3.87      0.11       7
12        Colombia    43.55       NaN       7
13           Spain    93.52      0.15       5
14            Iran      NaN       NaN       5
15           Japan   349.29      0.16       5
16          Mexico    62.93      0.16       5
17       Australia     3.01      0.12       5
18         Ecuador    63.37       NaN       4
19          Turkey    97.36      0.15       4
20     South Korea      NaN      0.16       4
21         Belgium   369.72      0.08       3
22       Indonesia   124.00       NaN       3
23       Argentina    15.14       NaN       3
24  Czech Republic   136.24      0.06       3
25            Peru    23.73       NaN       2
26          Poland   125.83      0.09       2
27        Pakistan   236.28       NaN       2
28         Romania    86.79      0.17       2
29     Netherlands   498.35      0.08       2
30          Serbia    81.91       NaN       2
31          Latvia    32.38      0.17       2
32     Switzerland   204.51      0.10       2
33         Hungary   109.33      0.09       2
34      Costa Rica    95.42      0.20       2
35       Venezuela      NaN       NaN       2
36      Bangladesh  1203.00       NaN       2
37         Austria   102.83      0.10       2
38       Swaziland    72.65       NaN       1
39      Tajikistan    58.64       NaN       1
40        Thailand   131.16       NaN       1
41         Tunisia    70.07       NaN       1
42     Afghanistan    46.80       NaN       1
43       Singapore  7713.14       NaN       1
44           Nepal   193.91       NaN       1
45         Morocco    73.96       NaN       1
46        Malaysia    90.45       NaN       1
47          Angola    17.22       NaN       1
48         Ireland    66.70      0.08       1
49            Iraq    76.94       NaN       1
50          Greece    85.59      0.12       1
51           Egypt      NaN       NaN       1
52         Denmark   132.31      0.06       1
53          Cyprus   123.50       NaN       1
54           Chile    23.70       NaN       1
55         Belarus    46.65       NaN       1
56           Yemen      NaN       NaN       1

In [137]:
# killerspercountrypovrdens.to_csv('..\\utils\\country_amount_pov_dens.csv')

El df creado arriba muestra la densidad media, máxima y mínima según el país y el número de víctimas.
Con él, se desmiente mi primera hipótesis, parece que la densidad de población no hace que los asesinos sean más 'prolíficos', aunque sí que están presentes en esos lugares.

Aun así, lugares como Rusia tienen una baja densidad de población a nivel de país, pero probablemente las ciudades concretas donde actuaron tuvieran un valor mayor.

3. En las series siempre se habla de los casos de estadounidenses, pero ¿realmente son más comunes en **América y Europa** o es solo que en los otros continentes no se estudian estos casos o no se publica esta información? (Claramente partimos del sesgo de nuestra cultura occidental y del peso que tiene EE.UU.)

In [86]:
(df['country']== 'United States').value_counts() #98 from USA out of 355
#pie chart

country
False    257
True      98
Name: count, dtype: int64

In [87]:
df['country'].value_counts(ascending=False)
#box plot with quartiles

country
United States     98
Russia            27
Ukraine           26
South Africa      19
United Kingdom    13
Germany           13
France            12
India             11
China             10
Brazil             9
Italy              9
Colombia           7
Canada             7
Iran               5
Mexico             5
Spain              5
Australia          5
Japan              5
South Korea        4
Turkey             4
Ecuador            4
Argentina          3
Indonesia          3
Belgium            3
Czech Republic     3
Poland             2
Austria            2
Latvia             2
Bangladesh         2
Costa Rica         2
Switzerland        2
Netherlands        2
Romania            2
Hungary            2
Serbia             2
Venezuela          2
Peru               2
Pakistan           2
Ireland            1
Singapore          1
Angola             1
Belarus            1
Cyprus             1
Denmark            1
Morocco            1
Afghanistan        1
Tajikistan         1
Malaysia           1
Nepal              1
Thailand           1
Tunisia            1
Chile              1
Iraq               1
Egypt              1
Swaziland          1
Greece             1
Yemen              1
Name: count, dtype: int64

>Parece que, efectivamente, en Europa y el norte de Asia hay muchos más casos, mientras que, al menos documentados, hay muy poco en países como Egipto o Yemen.
>
>Sí que sorprende la predominancia de Rusia frente a todo menos EE.UU., que se lleva la palma clarísimamente.
>
>Países como Colombia o Venezuela, que tenían una de las mayores medias de asesinatos, parecen deberse a una sola persona o pocas de ellas, no a múltiples asesinos.


> boxplot to show country trends
> ```
> plt.figure(figsize=(xx,x))
> sns.boxplot(x='country', y='proven victims', data=df)
> ```

> Scatter plot para diferenciar si un país tiene muchos asesinatos y pocos asesinos o viceversa (como colombia con garavito = outlier):
> nº de asesinos en un eje y el de víctimas en otro
> ```sns.scatterplot(x=df['country'], y='proven victims', data=df)```

In [104]:
#Nº DE ASESINOS POR PAÍS
killerspercountry=df.groupby('country')['name'].count().sort_values(ascending=False).reset_index()
killerspercountry.rename(columns={'name':'amount'},inplace=True)

#HISTOGRAMA

In [108]:
killerspercountry.head()

         country  amount
0  United States      98
1         Russia      27
2        Ukraine      26
3   South Africa      19
4        Germany      13

In [105]:
# killerspercountry.to_csv('..\\utils\\killerspercountry.csv')

In [107]:
killerspercountry['amount'].agg(['median','mean','max','min'])
#98 es un outlier q descompensa la media

median     2.00000
mean       6.22807
max       98.00000
min        1.00000
Name: amount, dtype: float64

In [113]:
dfamount=df.merge(killerspercountry,on='country',how='left')
dfamount.head()

,name,country,years active,proven victims,possible victims,notes,pov rate,density,amount
0,Luis Garavito,Colombia,1992 to 1999,138,172–300+,"Child-murderer, torture-killer, and rapist known as ""La Bestia"" (""The Beast""). Confessed to killing 140 boys between eight and 16 years old over a seven-year period in Colombia and neighboring countries. He is suspected of murdering over 300 victims, mostly street children. Garavito was original...",NaN,43.55,7
1,Luis Garavito,Ecuador,1992 to 1999,138,172–300+,"Child-murderer, torture-killer, and rapist known as ""La Bestia"" (""The Beast""). Confessed to killing 140 boys between eight and 16 years old over a seven-year period in Colombia and neighboring countries. He is suspected of murdering over 300 victims, mostly street children. Garavito was original...",NaN,63.37,4
2,Luis Garavito,Venezuela,1992 to 1999,138,172–300+,"Child-murderer, torture-killer, and rapist known as ""La Bestia"" (""The Beast""). Confessed to killing 140 boys between eight and 16 years old over a seven-year period in Colombia and neighboring countries. He is suspected of murdering over 300 victims, mostly street children. Garavito was original...",NaN,NaN,2
3,Pedro López,Colombia,1969 to 1979,110,300+,"Child-murderer and rapist, known as ""The Monster of the Andes"". Targeted young girls, between the ages of eight and 12. Arrested in 1980 and convicted in 1983 of killing three young girls, but claimed to have killed hundreds. Despite being believed to be one of the most prolific serial killers o...",NaN,43.55,7
4,Pedro López,Peru,1969 to 1979,110,300+,"Child-murderer and rapist, known as ""The Monster of the Andes"". Targeted young girls, between the ages of eight and 12. Arrested in 1980 and convicted in 1983 of killing three young girls, but claimed to have killed hundreds. Despite being believed to be one of the most prolific serial killers o...",NaN,23.73,2

In [138]:
# dfamount.to_csv('..\\data\\cleaned\\eda_df_amountpercountry.csv')

4. ¿En qué países están los que más asesinatos cometen?

5. ¿En qué países les descubren antes?
#usin years active & proven victims

6. Quizá haya cierta relación con su **nivel de educación y cultura** (no en todos los casos, claro está), aunque tratar de medir este factor puede ser complicado

In [89]:
maxvicpercountry=df.groupby('country')['proven victims'].max().sort_values(ascending=False)
maxvicpercountry
#max victims per country (hypothesis 4)

country
Venezuela         138
Colombia          138
Ecuador           138
Peru              110
Pakistan          100
Russia             83
Brazil             72
India              70
China              67
United States      60
Italy              58
Ukraine            53
Canada             49
Indonesia          42
South Africa       38
Morocco            36
Hungary            35
Romania            35
Serbia             35
Mexico             33
Iran               33
Iraq               33
Egypt              32
Germany            30
Swaziland          28
Greece             27
United Kingdom     26
France             23
Switzerland        23
Tajikistan         22
South Korea        21
Afghanistan        20
Costa Rica         19
Latvia             19
Turkey             18
Belgium            16
Spain              16
Argentina          15
Poland             14
Chile              14
Tunisia            13
Thailand           12
Malaysia           12
Japan              12
Nepal              12
Yemen              12
Czech Republic     11
Bangladesh         11
Austria            11
Australia          11
Denmark             9
Cyprus              7
Belarus             6
Singapore           5
Angola              5
Ireland             4
Netherlands         4
Name: proven victims, dtype: int64

> barplot to show victim trends per country
> ```
> plt.figure(figsize=(xx,x))
> sns.barplot(x=maxvicpercountry.values, y=maxvicpercountry.index)
> ```

In [90]:
df.groupby('country')['proven victims'].mean().round(2).sort_values(ascending=False)
#the mean victims are still higher in the same countries approx

country
Ecuador           85.75
Venezuela         76.50
Peru              63.50
Pakistan          57.00
Colombia          54.86
Morocco           36.00
Brazil            35.56
Iraq              33.00
Egypt             32.00
Hungary           29.50
Swaziland         28.00
Romania           28.00
Greece            27.00
Iran              24.40
India             24.18
Ukraine           22.19
Tajikistan        22.00
China             21.80
Afghanistan       20.00
Serbia            20.00
Indonesia         19.00
Russia            17.89
Mexico            16.60
South Africa      16.26
Canada            16.14
Latvia            16.00
South Korea       15.00
Italy             14.67
Chile             14.00
Switzerland       14.00
Argentina         13.00
Tunisia           13.00
Costa Rica        12.50
Germany           12.23
Thailand          12.00
Yemen             12.00
Malaysia          12.00
Nepal             12.00
United States     11.91
Belgium           11.00
Spain             11.00
France            10.58
Turkey            10.50
Poland            10.00
Denmark            9.00
Bangladesh         9.00
Australia          8.40
Japan              8.40
Czech Republic     8.33
Austria            7.50
United Kingdom     7.00
Cyprus             7.00
Belarus            6.00
Angola             5.00
Singapore          5.00
Ireland            4.00
Netherlands        3.50
Name: proven victims, dtype: float64

In [91]:
df.groupby('country')['proven victims'].sum().idxmax()#.sort_values(ascending=False)

#maximum sum of victs per country ever

'United States'

In [92]:
df['country'].mode()

0    United States
Name: country, dtype: object

Garavito es un outlier, descompensa los datos de colombia y venezuela

> Parece que en países latinoamericanos hay + asesinatos de media y tb de mayor nº por asesino (asesinos más 'prolíficos').
>
> Sin embargo, el país donde más asesinos ha habido es EE.UU (y si se suman todos los asesinos por país, es el país donde más crímenes se han cometido).

In [89]:
victimstats=df.groupby('country')['proven victims'].agg(['median','mean','max','min']).round(1).sort_values(by='median', ascending=False)
victimstats.reset_index(inplace=True)

In [91]:
# victimstats.to_csv("..\\utils\\victimstats.csv")

In [90]:
victimstats

           country  median  mean  max  min
0          Ecuador    91.0  85.8  138   23
1        Venezuela    76.5  76.5  138   15
2             Peru    63.5  63.5  110   17
3         Pakistan    57.0  57.0  100   14
4          Morocco    36.0  36.0   36   36
5             Iraq    33.0  33.0   33   33
6            Egypt    32.0  32.0   32   32
7           Brazil    30.0  35.6   72   11
8         Colombia    30.0  54.9  138    6
9          Hungary    29.5  29.5   35   24
10         Romania    28.0  28.0   35   21
11       Swaziland    28.0  28.0   28   28
12          Greece    27.0  27.0   27   27
13            Iran    24.0  24.4   33   16
14      Tajikistan    22.0  22.0   22   22
15          Serbia    20.0  20.0   35    5
16     Afghanistan    20.0  20.0   20   20
17           India    19.0  24.2   70   10
18          Latvia    16.0  16.0   19   13
19    South Africa    16.0  16.3   38    9
20          Mexico    15.0  16.6   33    3
21     South Korea    14.5  15.0   21   10
22         Ukraine    14.5  22.2   53    4
23           Chile    14.0  14.0   14   14
24     Switzerland    14.0  14.0   23    5
25          Russia    13.0  17.9   83    7
26           China    13.0  21.8   67    6
27         Tunisia    13.0  13.0   13   13
28       Argentina    13.0  13.0   15   11
29      Costa Rica    12.5  12.5   19    6
30        Thailand    12.0  12.0   12   12
31           Nepal    12.0  12.0   12   12
32           Yemen    12.0  12.0   12   12
33        Malaysia    12.0  12.0   12   12
34       Indonesia    11.0  19.0   42    4
35         Belgium    11.0  11.0   16    6
36           Spain    11.0  11.0   16    7
37          Turkey    10.5  10.5   18    3
38          Poland    10.0  10.0   14    6
39   United States    10.0  11.9   60    3
40           Italy     9.0  14.7   58    3
41         Germany     9.0  12.2   30    3
42          France     9.0  10.6   23    4
43         Denmark     9.0   9.0    9    9
44  Czech Republic     9.0   8.3   11    5
45      Bangladesh     9.0   9.0   11    7
46       Australia     8.0   8.4   11    6
47          Canada     8.0  16.1   49    7
48           Japan     8.0   8.4   12    3
49         Austria     7.5   7.5   11    4
50          Cyprus     7.0   7.0    7    7
51         Belarus     6.0   6.0    6    6
52       Singapore     5.0   5.0    5    5
53          Angola     5.0   5.0    5    5
54  United Kingdom     4.0   7.0   26    3
55         Ireland     4.0   4.0    4    4
56     Netherlands     3.5   3.5    4    3