![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

### TÍTULO

In [ ]:
#Escribe el título del proyecto en Markdown
titulo = "¿Es el entorno determinante para los asesinos en serie?"

### TEMA

In [ ]:
# Describe brevemente el tema del proyecto en Markdown
tema = "Estudio del lugar de procedencia y datos demográficos de múltiples asesinos en serie para determinar patrones que puedan desencadenar sus conductas"

### HIPÓTESIS

Define aquí lo que será la hipótesis de tu proyecto.
Deberás tener más de una, pero tu proyecto lo harás teniendo una principal hipótesis.

In [ ]:
# Escribe tu hipótesis principal en Markdown
hipotesis_1 = "Ese tipo de perfil de asesino tiende a aparecer en lugares con alta densidad de población"

In [ ]:
# Escribe más hipótesis si las hubiera en Markdown
hipotesis_2 = "y en estratos socioeconómicos pobres"
hipotesis_3 = "¿Son más comunes en América y Europa o es solo que en África no se estudian estos casos? (Se da más bombo a los estadounidenses)"
hipotesis_4 = "¿Nivel cultural?"
hipotesis_5 = "En qué países les descubren antes"
hipotesis_6 = "En qué países están los que más asesinatos cometen?"
hipotesis_7 = "Relación con la salud mental del país?"
# ...

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [11]:
import pandas as pd
# guarda en variables los datasets y su fuente
df_1 = pd.read_csv("..\\data\\Highest_victim_count.csv") #highest victim count
fuente_1 = "https://www.kaggle.com/datasets/vesuvius13/serial-killers-dataset/data?select=Highest_victim_count.csv"

df_2 = pd.read_json("..\\data\\country-population-density.json") #population density
fuente_2 ="https://data.world/samayo/country-names/workspace/file?filename=country-population-density.json"

df_3 = pd.read_csv('..\\data\\poverty_rate.csv') #poverty rate
fuente_3 = "https://data.oecd.org/inequality/poverty-rate.htm"

df_4 = pd.read_csv("..\\data\\15_to_30_victim_count.csv") #como el 1º pero más ordenado
fuente_4 = "https://www.kaggle.com/datasets/vesuvius13/serial-killers-dataset/data?select=15_to_30_victim_count.csv"

df_5 = pd.read_csv("..\\data\\iso_countrycode.csv")
fuente_5 = "https://gist.githubusercontent.com/radcliff/f09c0f88344a7fcef373/raw/2753c482ad091c54b1822288ad2e4811c021d8ec/wikipedia-iso-country-codes.csv"
# fuente_6 = "https://www.workwithdata.com/chart?agg=sum&chart=line&entity=countries_yearly&x=date&y=urban_population"
# fuente_7 = "https://sedac.ciesin.columbia.edu/data/set/popdynamics-global-pop-density-time-series-estimates/data-download"
# fuente_8 = "https://catalog.data.gov/dataset/global-population-density-grid-time-series-estimates/resource/bcad4d7c-725f-478c-b641-24e6b9173416"
# fuente_9 = "https://github.com/lhehnke/serial-killers/blob/master/serial_killers_data.rds" #(en R, no abierto)

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [5]:
# Primer dataset
df_1.head()

,Name,Country,Years active,Proven victims,Possible victims,Notes
0,Luis Garavito,Colombia\r\nEcuador\r\nVenezuela,1992 to 1999,138,172–300+,"Child-murderer, torture-killer, and rapist kno..."
1,Pedro López,Colombia\r\nPeru\r\nEcuador,1969 to 1979,110,300+,"Child-murderer and rapist, known as ""The Monst..."
2,Javed Iqbal,Pakistan,1998 to 1999,100,100,"Child-murderer and rapist, known as ""Kukri"", I..."
3,Mikhail Popkov,Russia,1992 to 2010,83,83+,"Serial rapist-killer nicknamed ""The Werewolf"",..."
4,Daniel Camargo Barbosa,Colombia\r\nEcuador\r\nBrazil (alleged),1974 to 1986,72,180,"Child and woman murderer, believed to have pos..."

In [6]:
#Segundo dataset
df_2.head()

          country  density
0     Afghanistan   46.800
1         Albania  101.230
2         Algeria   16.460
3  American Samoa  275.830
4         Andorra  168.550

In [7]:
# Tercer dataset
df_3.head() #(por km**2), usar solo columnas Location y Value
# df_3[['LOCATION','Value']]

  LOCATION INDICATOR SUBJECT MEASURE FREQUENCY  TIME  Value  Flag Codes
0      AUT   POVERTY     TOT      RT         A  2007  0.097         NaN
1      AUT   POVERTY     TOT      RT         A  2008  0.093         NaN
2      AUT   POVERTY     TOT      RT         A  2009  0.096         NaN
3      AUT   POVERTY     TOT      RT         A  2010  0.089         NaN
4      CAN   POVERTY     TOT      RT         A  1980  0.131         NaN

In [9]:
# Siguiente dataset...
df_4.sort_values(['Possible victims'],ascending=False).head()

,Name,Country,Years active,Proven victims,Possible victims,Notes
28,Alexander Spesivtsev,Russia,1991 to 1996,19,82+,"Cannibal known as ""The Novokuznetsk Monster""; ..."
51,Randy Steven Kraft,United States,1971 to 1983,16,65–67,Convicted of 16 counts of murder but left a cr...
18,Manuel Octavio Bermúdez,Colombia,1999 to 2003,21,50+,Colombian pedophile and serial killer. Known a...
3,David Thabo Simelane,Swaziland,2000 to 2001,28,45,Sexually assaulted women he befriended in fore...
41,Randall Woodfield,United States,1979 to 1981,18,44,"Known as ""The I-5 Killer"" and ""The I-5 Bandit...."

In [12]:
df_5.head() #solo cols name y alpha-3

,English short name lower case,Alpha-2 code,Alpha-3 code,Numeric code,ISO 3166-2
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX
2,Albania,AL,ALB,8,ISO 3166-2:AL
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ
4,American Samoa,AS,ASM,16,ISO 3166-2:AS

In [ ]:
#OPCIÓN 2
título2 = "El contexto de la generación de cristal"
tema2 = "La salud mental de los jóvenes de hoy en día en relación con su situación laboral y riqueza/patrimonio"